.container-over-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.button-over-image {
  display: none !important;
  position: absolute !important;
  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 8px 16px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.image-over-image:hover + .button-over-image {
  display: block !important;
}
.button-over-image:hover{
  display: block !important;
}
.button-over-image:hover + .image-over-image{
  opacity: 0.3;
  max-height: 100% !important; 
}
.image-over-image:hover {
  opacity: 0.3;
  max-height: 100% !important; 
}

.image-flag-height{
  height: 2.5rem;
}

.d-flex{
  display: flex;
}

.a-center{
  align-items: center;
}

.m-0{
  margin: 0px !important;
}

.max-width-50{
  max-width: 50vw;
}

.j-content-center{
  justify-content: center;
}

.j-content-end{
  justify-content: end;
}

.text-custom-overflow{
  white-space: nowrap !important;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.container-padding{
  padding: 1rem 10rem;
  width: 100%;
}

.text-align-justify{
  text-align: justify;
}

.max-height-10{
  max-height: 10rem;
}

.overflow-y-auto{
  overflow-y: auto;
}

.app-bar-color{
  background-color: #C6BE24 !important;
}

@media screen and (max-width: 700px) {
  .container-padding{
    padding: 1rem 0rem;
  }
}

section{
  margin-top: 2rem;
  display: flex;
  width: 100%;
}

section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
section img:hover + .boton{
  display: block;
}
.image-container .boton:hover{
  display: block;
}
section div{
  width: 0px;
  flex-grow: 1;
  transition: .5s ease;
}
section div:hover{
  width: 120px;
  transition: .5s ease;
}
.image-container {
  position: relative;
}

.image-container img {
  width: 100%; 
}
.image-container .boton {
  display: none;
  position: absolute;
  top: 25rem;
  left: 3%;
  font-weight: bold;
}
.image-container .texto {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}