.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-over-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.button-over-image {
  display: none !important;
  position: absolute !important;
  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 8px 16px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.image-over-image:hover + .button-over-image {
  display: block !important;
}
.button-over-image:hover{
  display: block !important;
}
.button-over-image:hover + .image-over-image{
  opacity: 0.3;
  max-height: 100% !important; 
}
.image-over-image:hover {
  opacity: 0.3;
  max-height: 100% !important; 
}