.container-over-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.button-over-image {
  display: none !important;
  position: absolute !important;
  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 8px 16px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.image-over-image:hover + .button-over-image {
  display: block !important;
}
.button-over-image:hover{
  display: block !important;
}
.button-over-image:hover + .image-over-image{
  opacity: 0.3;
  max-height: 100% !important; 
}
.image-over-image:hover {
  opacity: 0.3;
  max-height: 100% !important; 
}

.image-flag-height{
  height: 2.5rem;
}

.d-flex{
  display: flex;
}

.a-center{
  align-items: center;
}

.m-0{
  margin: 0px !important;
}

.max-width-50{
  max-width: 50vw;
}

.j-content-center{
  justify-content: center;
}

.j-content-end{
  justify-content: end;
}

.text-custom-overflow{
  white-space: 'nowrap';
  overflow: 'hidden'; 
  text-overflow: 'ellipsis';
}

.container-padding{
  padding: 1rem 10rem;
}

.text-align-justify{
  text-align: justify;
}

.max-height-10{
  max-height: 10rem;
}

.overflow-y-auto{
  overflow-y: auto;
}

.app-bar-color{
  background-color: #C6BE24;
}